<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}欢迎莅临 精创学院 | 帮助互联网精益创业企业{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}{% endblock %}
        {% block head_javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body style="margin-bottom:40px;">        
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
