<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block head_javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>body{padding-top: 70px;}</style>
    </head>
<body>

    {{ render( controller('McModuleBundle:Navigation:show') ) }}


        <div class="container" style="margin-top:10px;">
        <div class="row">

            {% block base %}{% endblock %}

        </div>
        </div>
        
        {% block javascripts %}{% endblock %}

</body>
</html>