{% extends "::login_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="" align="center">
<form class="form-signin">
	<div class="stepwizard">
	<div class="stepwizard-row">
	    <div class="stepwizard-step">
	        <button type="button" class="btn btn-default btn-circle">1</button>
	        <p>账户信息</p>
	    </div>

	    <div class="stepwizard-step">
	        <button type="button" class="btn btn-default btn-circle">2</button>
	        <p>邮件激活</p>
	    </div>
	    
	    <div class="stepwizard-step">
	        <button type="button" class="btn btn-primary btn-circle">3</button>
	        <p>开始学习</p>
	    </div> 

	</div>
	</div>

    <div class="alert alert-success">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</div>


    {% if app.session is not empty %}
    <div class="alert alert-info">
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    </div>
    {% endif %}
</form>
</div>

{% endblock fos_user_content %}
